@import url('https://fonts.googleapis.com/css2?family=Ojuju&display=swap');

body{
    background-color: #000000;
    font-family: "Ojuju", sans-serif;
    color: #d1d1d1;
    margin: 0 100px;
}

p{
    font-weight: bold;
}

hr{
    border: none;
    border-top: 2px solid #002452; /* Grubość i kolor linii */
    margin: 0 0;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.video{
    max-width: 1000px;
    max-height: 500px;
    min-width: 400px;
    min-height: 150px;
}

.text{
    font-size: 30px;
    text-shadow: 2px 2px 2px #002452;
}

.title{
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 4px #002452;
}

.container{
    display: grid;
    grid-gap: 20px;
}
